<div class="position-relative min-vh-100 d-flex justify-content-center align-items-center">
  <!-- Card -->
  <div class="card shadow border-0" style="border-radius: 20px; width: auto; max-width: 700px;">
    <div class="row g-0 align-items-center">
      <!-- Logo Column -->
      <div class="col-auto text-center px-5 py-5">
        <div class="bartolome-logo-animated">
          <img src="/assets/img/Logo.png" alt="Logo Bartolome" width="200" class="logo-img">
        </div>
      </div>

      <!-- Form Column -->
      <div class="col px-5 py-5">
        <h2 class="fw-bold mb-4 text-center" style="font-size: 1.6rem; color: black;">
          ¿Olvidaste tu contrase&ntilde;a?
        </h2>
        <p style="color: black;">
          Ingresa tu correo electr&oacute;nico y te enviaremos las instrucciones para restablecer tu contrase&ntilde;a.
        </p>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <!-- Email Field -->
          <div class="mb-3">
            <div class="d-flex align-items-center mb-2">
              <img src="assets/img/mail.svg" alt="Correo" style="width: 20px; margin-right: 8px;" />
              <label class="form-label m-0">Correo electr&oacute;nico</label>
            </div>
            <input id="email" type="email" class="form-control border-bottom-only" formControlName="email" [ngClass]="{
    'is-invalid': form.get('email')?.invalid && form.get('email')?.touched,
    'is-valid': form.get('email')?.valid && form.get('email')?.touched
  }" placeholder="example@gmail.com" />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
              Introduce un correo v&aacute;lido.
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mb-3 btn-pill">
            Enviar enlace
          </button>
        </form>

        <div *ngIf="message" class="alert alert-success mt-2">{{ message }}</div>
        <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>

        <a routerLink="/auth/log-in" class="btn btn-link d-flex justify-content-center volverBTN btn-pill">Volver</a>
      </div>
    </div>
  </div>

  <!-- Fondo con olas -->
  <div class="fondo-olas">
    <div class="imagenFondo imagenFondo-secundaria"></div>
    <div class="imagenFondo"></div>
  </div>
</div>